# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime


def convert_date(date_):
    """
    Функция позволяет перебрать варианты дат для дальнейшего преобразования в 
    формат datetime"""
    try:
        return datetime.strptime(date_, '%B %d %Y')
    except:
        try:
            return datetime.strptime(date_, '%d.%m.%y')
        except:
            return datetime.strptime(date_, '%d %B %Y')
        

list_newspaper_release_dates = ['The Moscow Times - Wednesday, October 2, 2002', 
                                'The Guardian - Friday, 11.10.13', 
                                'Daily News - Thursday, 18 August 1977']

for newspaper_release_dates in list_newspaper_release_dates:
    new_list_newspaper_release_dates = newspaper_release_dates.split(', ') #  разделение данных по запятой получаем список
    str_release_dates = ' '.join(str(x) for x in new_list_newspaper_release_dates[1:]) #  получаем даты без запятой в виде строки
    result_newspaper_release_dates = f'{new_list_newspaper_release_dates[0]} {convert_date(str_release_dates)}'
    print(result_newspaper_release_dates)

The Moscow Times - Wednesday 2002-10-02 00:00:00
The Guardian - Friday 2013-10-11 00:00:00
Daily News - Thursday 1977-08-18 00:00:00

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
```stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]```

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def convert(date_):
    """
    Функция проверяет дату на корректность."""
    try:
        datetime.strptime(date_, '%Y-%m-%d')
        return True
    except ValueError:
        return False

for str_date in stream:
    print(f'{str_date} - {convert(str_date)}')

2018-04-02 - True
2018-02-29 - False
2018-19-02 - False

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta, date

a = '2000-25-01'
b = '2000-01-15'

def date_range(start_date, end_date):
    """
    Функция, которая возвращает список дат за период от start_date до end_date
    """

    empty_list = [] # пустой список
    date_list = [] # список для заполнения датами

    try:
        # преобразование дат из типа строки в тип datetime
        start_date = datetime.strptime(start_date, '%Y-%m-%d').date()
        end_date = datetime.strptime(end_date, '%Y-%m-%d').date()
    except:
        return empty_list

    # от начальной и до конечной даты получаем список дат
    while start_date < end_date:
        start_date = start_date + timedelta(days=1)
        date_list.append(str(start_date))

    return date_list

print(date_range(a, b))

[]

# Задание 4 (необязательное)
Ваш коллега прислал код функции:
```
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
```
"""
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
"""
```
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)
```

1 return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:
```
delete_and_return_last_user(1)
```
'A101'

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

1.   Что значит ошибка list index out of range?
2.   Почему при первом запуске функция работает корректно, а при втором - нет?

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя и возвращает ID нового 
    последнего пользователя. 
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

print(delete_and_return_last_user(1))

"""
1. Ошибка возникает в случае, когда индекс выходит за пределы списка, т.е. такого 
индекса нет в списке.
2. При вызове функции передается 1 в качестве аргумента region, но никак не 
используется в коде.

При повторном вызове функции ошибка не возникает, данные остаются прежними, так 
как по умолчанию список тот же, что и прежде. Вероятно коллега не полный код 
функции отправил.
"""

A101

'\n1. Ошибка возникает в случае, когда индекс выходит за пределы списка, т.е. такого \nиндекса нет в списке.\n2. При вызове функции передается 1 в качестве аргумента region, но никак не \nиспользуется в коде.\n\nПри повторном вызове функции ошибка не возникает, данные остаются прежними, так \nкак по умолчанию список тот же, что и прежде. Вероятно коллега не полный код \nфункции отправил.\n'